<nav class="navbar navbar-expand-lg border-bottom" style="
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
">
  <div class="container-fluid d-flex justify-content-between align-items-center" style="min-height: 48px;">

    <div class="d-lg-none d-flex align-items-center flex-grow-1">
      <form class="d-flex w-100" role="search">
        <input class="form-control form-control-sm" type="search" placeholder="Pesquisar...">
        <button class="btn btn-outline-dark btn-sm ms-2" type="submit">
          <i class="bi bi-search"></i>
          <span class="d-none d-sm-inline">Buscar</span>
        </button>
      </form>
    </div>
    {% if user.is_authenticated %}
    <div class="d-lg-none ms-2">
      <div class="dropdown">
        <button class="btn" type="button" data-bs-toggle="dropdown">
          <i class="bi bi-three-dots-vertical fs-5"></i>
        </button>
          <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'brand_list' %}">Marcas</a></li>
              <li><a class="dropdown-item" href="{% url 'product_list' %}">Produtos</a></li>
              <li><a class="dropdown-item" href="{% url 'category_list' %}">Categorias</a></li>
          </ul>
      </div>
    </div>
    {% endif %}

    <div class="d-none d-lg-flex position-absolute start-50 translate-middle-x align-items-center">
      {% if user.is_authenticated %}
      <ul class="navbar-nav flex-row me-3">
        <li class="nav-item mx-2">
          <a class="nav-link py-1" href="{% url 'brand_list' %}">Marcas</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link py-1" href="{% url 'product_list' %}">Produtos</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link py-1" href="{% url 'category_list' %}">Categorias</a>
        </li>
      </ul>
      {% endif %}

      <form class="d-flex align-items-center" role="search" style="width: 100%;">
        <input class="form-control form-control-sm" type="search" placeholder="Pesquisar...">
        <button class="btn btn-outline-dark btn-sm ms-2 py-1 px-2" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>

  </div>
</nav>

<style>
  @media (max-width: 991px) {
    .navbar .container-fluid {
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
    }
    .dropdown-menu {
      margin-top: 0.5rem;
    }
    .btn-outline-dark {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
    .form-control {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  @media (min-width: 992px) {
    .navbar .form-control-sm {
      width: 400px !important;
    }
  }
</style>
