{% extends 'base.html' %}
{% block title %}Detalhes da Marca{% endblock %}
{% block content %}
<h1>{{ object.name }}</h1>
<p><strong>Descrição:</strong> {{ object.description|default:"No description." }}</p>

{% if perms.brands.change_brand %}
    <a href="{% url 'brand_update' object.pk %}" class="btn btn-warning">Editar</a>
{% endif %}

{% if perms.brands.delete_brand %}
    <a href="{% url 'brand_delete' object.pk %}" class="btn btn-danger">Deletar</a>
{% endif %}

<a href="{% url 'brand_list' %}" class="btn btn-secondary">Cancelar e Voltar</a>
{% endblock %}
